* {
  color: white;
  font-style: sans-serif;
  font-family: sans-serif;
  text-align: center;
  margin: auto;
  padding: 1em;
  font-weight: 400;
  font-size: 20px;

input {
  color: black;
}
}
body {
  background-image: url(https://gist.github.com/dm-wyncode/63763f460421122aab6bad7de00b0ac1/raw/d660cd094961bea222d6b2453aca2538f07ef62b/cloudy.jpg
);
}
div {
  text-align: center;
  display: flex;
  flex-flow: column;
  padding-bottom: 6em;

}
#temp {

  border-style: solid;
  border-color: black;
  width: 150px;
  height: 150px;
  text-align: center;
  margin-top: 2.5em;
  justify-content: center;
  padding: inherit;
  font-weight: bold;
  font-size: 30pt;


}
